<?xml version="1.0" encoding="utf-8"?>
<!-- Optional, these networks can see the overview dashboard without authentication -->
<!--<SecuritySettings provider="AD" apiKey="myKey">
    <InternalNetworks>
        <Network name="GSE Internal" cidr="10.0.0.0/8" />
        <Network name="GSE Internal #2" cidr="10.1.0.0/8" />
        <Network name="GSE Internal #3" cidr="127.0.0.0/8" />
    </InternalNetworks>
</SecuritySettings>-->

<SecuritySettings provider="alladmin" />
